/*= Items =*/
.items-container{
  @include pad-sides-default;
  margin: 40px 0;
}

.items-wrapper{
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.items{
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  &:hover{
    .items-text{
      color: $piz--primary;
    }
  }
  &-icon{
    width: 50px;
    height: 50px;
  }
  &-text{
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 15px;
  }
}

.items-inactive{
  display: flex;
  align-items: center;
  align-content: center;
  cursor: not-allowed;
  color: #9e9e9e;
  &-icon{
    width: 50px;
    height: 50px;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  &-text{
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 15px;
    color: #9e9e9e;
  }
  &:after{
    content: 'EM BREVE';
    color: white;
    position: relative;
    top: -15px;
    left: -40px;
    padding: 2px 6px;
    background-color: red;
    border-radius: 5px;
    font-size: 12px;
  }
}