<p-toast></p-toast>
<p-breadcrumb *ngIf="!paginaIcial" [model]="items" [home]="home"></p-breadcrumb>
<section class="flavor mb-5" [ngClass]="{'no-margem':!margem}">
  <div class="flavor-container ">
    <!-- Página de Catalogo -->
    <div *ngIf="!paginaIcial && showTitle" class="flavor-header">
      <p class="flavor-pretitle">
        ESCOLHA O SABOR
      </p>
      <p class="flavor-title">
        AS MELHORES PIZZAS DA UTFPR
      </p>
      <p class="flavor-subtitle">
        Existe algo delicioso por aqui
      </p>
    </div>

    <!-- Página Inicial -->
    <div *ngIf="paginaIcial && showTitle" class="flavor-header">
      <p class="flavor-pretitle">
        ESCOLHA O SABOR
      </p>
      <p class="flavor-title">
        AS MELHORES PIZZAS DA SEMANA
      </p>
    </div>

    <div *ngIf="showOrder" class="d-flex align-items-center mb-4">
      <h5 class="mr-4 mb-0">
        Ordenar por:
      </h5>
      <p-dropdown [options]="ordenacao" [(ngModel)]="selectedOrder" optionLabel="label"
        (onChange)="alterarOrdem($event.value)"></p-dropdown>
    </div>

    <ul class="row flavor-content p-0">
      <li *ngFor="let pizza of pizzas ; let i = index" [ngClass]="getQuantidade()" class=" mb-3">
        <div *ngIf="i <= quantidade">
          <div class="flavor-item">
            <div class="flavor-item-container d-flex flex-column">
              <div class="flavor-item-view">
                <button class="btn flavor view heart" hidden>
                  <div class="view-icon">
                    <i class="far fa-heart"></i>
                  </div>
                </button>
                <button class="btn flavor view eye"  (click)="toggleModal(pizza)">
                  <div class="view-icon" >
                    <i class="far fa-eye"></i>
                  </div>
                </button>
                <button class="btn flavor view copy" hidden>
                  <div class="view-icon">
                    <i class="far fa-copy" ></i>
                  </div>
                  comprar
                </button>
              </div>
              <img width="270" src="{{'../../../assets/images/'+pizza.image}}" alt="Foto de uma pizza">
              <p class="mb-0 item-flavor-title">
                {{pizza.name}}
              </p>
              <div class="d-flex">
                <p class="item-flavor-subtitle mr-1">
                  {{pizza.category}}
                </p>
              </div>
              <p class="item-flavor-price">
                R$ {{pizza.price}}
              </p>
              <button (click)="adicionarAoCarrinho(pizza)" class="btn flavor">
                <div class=" chart-button-icon">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                comprar
              </button>
            </div>
          </div>
        </div>

      </li>
    </ul>


    <div *ngIf="paginaIcial" class="flavor-footer d-flex align-items-center justify-content-center">
      <button class="btn pizzaday-footer" routerLink="/catalogo">
        <div class=" chart-button-icon">
          <i class="fas fa-border-all"></i>
        </div>
        todas as pizzas
      </button>
    </div>
  </div>
</section>


<p-dialog #modalId [(visible)]="modal" [style]="{width: '40vw'}">
  <ng-template pTemplate="header">
    <p class="mb-0 item-flavor-title">
      DETALHES DA PIZZA {{ pizza?.name }}
    </p>
  </ng-template>
  <div class="row justify-content-between">
      
    <div class="col-md-7">

      <p class="mb-0 item-flavor-title">
        {{ pizza?.name }}
      </p>
      <p class="item-flavor-price">
        R$ {{pizza?.price}}
      </p>

      <p class="item-flavor-subtitle mr-1">
        {{pizza?.description}}
      </p>
    </div>
    <div class="col-md-5">
      <img width="200" src="{{'../../../assets/images/'+pizza?.image}}" alt="">
    </div>
  </div>
</p-dialog>