<p-toast></p-toast>

<div class="container-fluid topo-contato">
  <div class="d-flex justify-content-center titulo-contato">
      <h1 class= titulo-contato>Ainda sem cadastro?</h1>
  </div>
  <div class="d-flex justify-content-center">
      <p class= subtitulo-contato> Inscreva-se para aproveitar nossos produtos</p>
  </div>
</div>


<div class="container">
  <form class="form-horizontal" [formGroup]="formulario">

    <div class="row">
      <div class="col-md-7">
        <div class="form-group">
          <label for="nome" class="control-label" >Nome</label>
          <input type="text" class="form-control" formControlName="nome" name="nome" [(ngModel)]="nome" placeholder="Nome Sobrenome" [ngClass]="aplicaCssErro('nome')">
          
          <div class="invalid-feedback">
            Campo Obrigatório. Aceita apenas letras.
          </div>
        </div>
        
      </div>

      <div class="col-md-5">
        <div class="form-group" >
          <label for="cpf" class="control-label" >CPF</label>
          <input 
          type="text" 
          class="form-control" 
          [mask]="'000.000.000-00'" 
          formControlName="cpf"
          name="cpf" 
          [(ngModel)]="cpf" placeholder="Digite o CPF"  
          [ngClass]="aplicaCssErro('cpf')">  
          <div class="invalid-feedback">
            <div *ngIf="!cpf">Campo Obrigatório</div>
            <div *ngIf="cpf">CPF inválido</div>
          </div>

        </div>
      </div>

    </div>
  
    <div class="row">

      <div class="col-md-7">
        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="email" class="form-control" formControlName="email" name="email" [(ngModel)]="email" placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')"> 
          <div class="invalid-feedback">
            Campo Obrigatório. Digite no formato correto.
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group" >
          <label for="telefone" class="control-label">Telefone</label>
          <input type="text" class="form-control" formControlName="telefone" name="telefone" [(ngModel)]="telefone" placeholder="00000000000" [ngClass]="aplicaCssErro('telefone')"> 
          <div class="invalid-feedback">
            Campo Obrigatório. Digite apenas os números.
          </div>
        </div>
      </div>
    </div>

    <br>

    <div formGroupName="endereco">

      <div class="form-group row">
        
        <div class="col-md-4" >
          <label for="numero" class="control-label">Número</label>
          <input type="text" class="form-control" id="numero" [(ngModel)]="numero" formControlName="numero" [ngClass]="aplicaCssErro('endereco.numero')"> 
          <div class="invalid-feedback">
            Campo Obrigatório. Apenas números.
          </div>
        </div>
        <div class="col-md-6" >
          <label for="cep" class="control-label">CEP</label>
          <!-- formControlName="cep"  -->
          <input 
            id="cep" 
            type="text" 
            class="form-control" 
            formControlName="cep"
            [formControl]="numeroCep"
            [(ngModel)]="cep.cep"
            [mask]="'00000-000'"placeholder="00000-000" 
            [ngClass]="aplicaCssErro('endereco.cep')"> 

          <div class="invalid-feedback">
            CEP não existente.
          </div>
        </div>
        
        <div class="col-md-2 d-flex align-items-end">
          <button type="button" class="btn btn-todos" (click)="buscarCEP(this.buscarCEP.toString())">Buscar Cep</button>
        </div>
      </div>
      <div class="form-group row" >
       
        <div class="col-sm-6" >
          <label for="rua" class="control-label">Rua</label>
          <input type="text" class="form-control" id="logradouro" formControlName="logradouro" [(ngModel)]="cep.logradouro">
        </div>

        <div class="col-md-6" >
          <label for="bairro" class="control-label">Bairro</label>
          <input type="text" class="form-control" id="bairro" formControlName="bairro" [(ngModel)]="cep.bairro">
        </div>

      </div>
  
      <div class="form-group row">

  
        <div class="col-md-6" >
          <label for="cidade" class="control-label">Cidade</label>
          <input type="text" class="form-control" id="localidade" formControlName="localidade" [(ngModel)]="cep.localidade">
        </div>
  
        <div class="col-md-6" >
          <label for="estado" class="control-label">Estado</label>
          <input type="text" class="form-control" id="estado" formControlName="estado" [(ngModel)]="cep.uf">
        </div>
      </div>
    </div>

    <br><br>

    <div class="row justify-content-between align-items-center">
    

      <div class="col-md-9 ">
        <div class="form-group" >
          <label for="senha" class="control-label">Senha</label>
          <br>
            <input [type]="getTypeInput()" class="form-control" id="senha"  [(ngModel)]="senha" formControlName="senha" name="senha" [ngClass]="aplicaCssErro('senha')">
           
            <div class="invalid-feedback">
              Campo Obrigatório. Senha com pelo menos 6 dígitos.
            </div> 
      
          
        </div>
      </div>
      
    
      

        <div class="col-md-3">
          <div class="form-group" >
            <br>
            <button (click)="insertUsuario()" type="submit" class="btn pizzaday-footer" [disabled]="!formulario.valid">Submeter</button>
          </div>
        </div>

        
      </div>

      
    

  </form>
 
  
</div>


