<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<div class="container-fluid topo-contato">
    <div class="d-flex justify-content-center titulo-contato">
        <h1 class= titulo-contato>Alguma Dúvida?</h1>
    </div>
    <div class="d-flex justify-content-center">
        <p class= subtitulo-contato> Apenas escreva para nós</p>
    </div>
</div>


<br>
<div class="container-fluid formulario">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome" class="control-label">Nome</label>
                    <input type="text" class="form-control" formControlName="nome" name="nome"
                        placeholder="Nome Sobrenome" [ngClass]="aplicaCssErro('nome')">
          
                        <div class="invalid-feedback">
                          Campo Obrigatório. Aceita apenas letras.
                        </div>
                </div>

                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="text" class="form-control" formControlName="email" name="email" placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')"> 
                    <div class="invalid-feedback">
                      Campo Obrigatório. Digite no formato correto.
                    </div>
                </div>

                <div class="form-group">
                    <label for="assunto" class="control-label">Assunto</label>
                    <input type="assunto" class="form-control" formControlName="assunto" name="assunto">
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="texto">Mensagem</label>
                    <textarea class="form-control" id="mensagem" formControlName="mensagem" rows="6"></textarea>
                </div>
                <div class="d-flex flex-row-reverse"> 
                    <button type="submit" class="btn pizzaday-footer" [disabled]="!formulario.valid">Enviar</button>
                </div>
            </div>

        </div>

    </form>
</div>


<div id="icone-servicos" class="container-lg justify-content-between">
    <div class="row">

      <div class="col-4 borda-servico">
        <div class="icone-servico d-flex justify-content-around">
          <i class="fas fa-motorcycle"></i>
          <div class="servico-texto">
            <h1>Entrega grátis</h1>
            <p>Receba atualizações e frete grátis</p>
          </div>
        </div>
          
      </div>
     
      <div class="col-4 borda-servico">
        <div class="icone-servico d-flex justify-content-around">
          <i class="far fa-clock"></i>
          <div class="servico-texto">
            <h1>Entrega 30min</h1>
            <p>Entrega super rápida em sua porta</p>
          </div>
        </div>
          
      </div>

      <div class="col-4 borda-servico">
        <div class="icone-servico d-flex justify-content-around">
          <i class="fas fa-pizza-slice"></i>
          <div class="servico-texto">
            <h1>Pizza de Qualidade</h1>
            <p>Uma rede de restaurantes familiares</p>
          </div>
        </div>
      </div>

    </div>


      <div class="container-fluid text-center">
        <div class="container inscricao">
          <br><br>
          <h1>Acopanhe nossas novidades</h1>
          <p>Inscreva-se para rececer as nossas melhores promoções!</p>
          <br>
          <div>
            <div class="d-flex justify-content-center">
              <form id="envio">
                <input type="email" class="form-control justify-content-left" id="email-input"
                  placeholder="Seu email">
                <button type="submit" class="btn email-btn justify-content-right">Enviar</button>
              </form>
            </div>
    
          </div>
          <br><br>
        </div>
      