<div class="container">
    <!-- <h5>Login</h5> -->
<form>
    <div class="mb-3">
      <label for="usuario" class="form-label">Email</label>
      <input type="email" class="form-control" id="usuario" aria-describedby="emailHelp" [(ngModel)]="usuario.login">
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <div class="d-flex align-items-center">
        <input [type]="getTypeInput()" class="form-control" id="senha"  [(ngModel)]="usuario.senha">
        
        
        <span (click)="toogleType()" *ngIf="passwordType" class="eyeclass">
          <i class="fas fa-eye"></i>  
        </span>


        <span (click)="toogleType()" *ngIf="!passwordType" class="eyeclass">
          <i class="fas fa-eye-slash"></i>  
        </span>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary text-center" (click)="fazerLogin()">Login</button>
    <div class="text-center">
        <p>Não tem cadastro? <a href="/cadastro">Cadastrar</a></p>
      </div>
  </form>

</div>


